
<div class="text-container rounded">
  <div class="container mt-4">
    <div class="row border-bottom py-3 mb-3 align-items-center">
      <div class="col-md-2 text-center mb-3 mb-md-0">
        <img [src]="f1DriverData?.imageURL" [style.width.px]="driverImageWidth" class="img-fluid rounded" alt="Driver Image">
      </div>
  
      <div class="col-md-8">
        <div class="d-flex flex-column">
          <div>Name:<strong style="font-size: larger;"> {{ f1DriverData?.firstName }} {{ f1DriverData?.lastName }}</strong></div>
          <div>Team:<strong> {{ f1DriverData?.Team }}</strong></div>
          <div>Racing Number:<strong> {{ f1DriverData?.Number }}</strong></div>
          <div>Code:<strong> {{ f1DriverData?.Code }}</strong></div>
        </div>
      </div>
  
      <div class="col-md-2 text-md-end mt-3 mt-md-0">
        <button class="btn btn-danger" (click)="deleteDriver(f1DriverData!._id)">Delete</button>
      </div>
    </div>
  </div>
</div>
