<!-- <div class="container mt-4">
    <div class="row align-items-center border-bottom py-3 mb-3">
      <div class="col-2">
        <img [src]="f1DriverData?.imageURL" [style.width.px]="driverImageWidth" class="img-fluid rounded" alt="Driver Image">
      </div>
      <div class="col-2">
        <strong>First:</strong> {{ f1DriverData?.firstName }}
      </div>
      <div class="col-2">
        <strong>Last:</strong> {{ f1DriverData?.lastName }}
      </div>
      <div class="col-2">
        <strong>Team:</strong> 
        {{ f1DriverData?.Team }}
      </div>
      <div class="col-2">
        <strong>Racing Number:</strong> {{ f1DriverData?.Number }}
      </div>
      <div class="col-2">
        <strong>Code:</strong> {{ f1DriverData?.Code }}
      </div>
      <div class="col-2 text-end">
        <button class="btn btn-danger" (click)="deleteDriver(f1DriverData!._id)">Delete</button>
      </div>
    </div>
  </div> -->

  <div class="container mt-4">
    <div class="row border-bottom py-3 mb-3 align-items-center">
      <div class="col-md-2 text-center mb-3 mb-md-0">
        <img [src]="f1DriverData?.imageURL" [style.width.px]="driverImageWidth" class="img-fluid rounded" alt="Driver Image">
      </div>
  
      <div class="col-md-8">
        <div class="d-flex flex-column">
          <div><strong>First Name:</strong> {{ f1DriverData?.firstName }}</div>
          <div><strong>Last Name:</strong> {{ f1DriverData?.lastName }}</div>
          <div><strong>Team:</strong> {{ f1DriverData?.Team }}</div>
          <div><strong>Racing Number:</strong> {{ f1DriverData?.Number }}</div>
          <div><strong>Code:</strong> {{ f1DriverData?.Code }}</div>
        </div>
      </div>
  
      <div class="col-md-2 text-md-end mt-3 mt-md-0">
        <button class="btn btn-danger" (click)="deleteDriver(f1DriverData!._id)">Delete</button>
      </div>
    </div>
  </div>
