<div class="container py-4">
  <h2>F1 Drivers</h2>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let driver of driversData">
      <strong>{{ driver.givenName }} {{ driver.familyName }}</strong>
      ({{ driver.nationality }}) -
      <a [href]="driver.url" target="_blank">Wikipedia</a>
      <p>
        DOB - {{ driver.dateOfBirth }}
      </p>
    </li>
  </ul>

  <div class="text-center mt-3">
    <button class="btn btn-primary" (click)="getDrivers()" [disabled]="isLoading">
      {{ isLoading ? 'Loading...' : 'Load More' }}
    </button>
  </div>
</div>